# Python
__pycache__/

*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# 临时文件
*.log
logs/


# OS
.DS_Store
Thumbs.db
.env*
.pytest_cache/
AGENTS.md
openspec/*
data/*
reports/*
.uv-cache/
*.egg-info/
.venv/*