name: Python (Ruff Action)
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  python-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Ruff Format Check
        uses: astral-sh/ruff-action@v3
        with:
          args: "format --check --diff"
          version-file: "pyproject.toml"

      - name: Ruff Lint
        uses: astral-sh/ruff-action@v3
        with:
          version-file: "pyproject.toml"
